:root{
    --nav-color: linear-gradient( #003b58,#012741);
    --black-color: #3b3939;
    --hard-black-color: #333;
    --background-color1: #0C222F;
    --background-color: rgb(17, 26, 36);
    --yellow-color: #ffbb00;
    --yellow2-color: #ff9900;
    --grey-color: #b2b9be;
    --text-color: #9cabb6;
    --white-color: #fff;
    --play-button-color: #3ca845;
    --play-button-color-hover: #55c455;
    --add-button-color: #ff9900;
    
    --add-button-color-hover: #fdad00;
    --commenttext-color: #eee6c5;
    --reactbutton-color: #ff9900;
    --send-color: #00aeff;
    --special-text-color: #00aeff;



}
/* vietnamese */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunito/v24/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTs3j77e.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
/* latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunito/v24/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3jw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xHIzIFKw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xGIzIFKw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}
ul{
    list-style: none;
}
html, body{
    height: 100%;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1;
    font-size: 14px;
    color: #333;
    background-color: var(--background-color);
}
#root{
    height: 100%;
}
.wrap-center{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
}
.img-wrapper{
    width: 100px;
    height: 100px;
}
.img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.margin{
    margin: 30px;
}
.page{
    min-height: 100% !important;
}