.query-page{
    display: flex;
    .sidebar{
        background-color: var(--white-color);
        padding: 30px 10px;
        .search{
            margin-bottom: 15px;
            input{
                border: 0;
                background-color: #ddd;
                border-radius: 8px;
                padding: 7px 10px 6px;
                font-size: 1.2em;
                outline: none;
            }
        }
        .filter-container{
            margin-left: 10px;
            h3{
                margin-bottom: 15px;
                margin-top: 10px;
                letter-spacing: 0.7px;
                color: var(--background-color);
            }
            .filter-selections{
                margin-left: 15px;
                li{
                    text-transform: capitalize;
                    cursor: pointer;
                    margin: 5px 0;
                    letter-spacing: 0.5px;
                    font-size: 1em;
                    width: fit-content;
                    padding: 6px 8px;
                    border: 1px solid transparent;
                    border-radius: 15px;
                    transition: all .2s ease;
                    &:hover{
                        color: #fff;
                        background-color: var(--background-color1);
                    }
                    &.selected{
                        color: #fff;
                        background-color: var(--background-color1);
                    }
                }
            }
        }
        &.actors{
            .row{
                display: flex;
                justify-content: space-between;
                align-items: center;
                button{
                    border: none;
                    font-weight: bold;
                    font-size: 1.4em;
                    padding-top: 5px;
                    background-color: transparent;
                    cursor: pointer;
                    color: var(--background-color);
                }
            }
        }
    }
    .main{
        width: 100%;
        padding: 30px 20px;
        .title{
            color: var(--white-color);
            margin-bottom: 30px;
        }
        .showmore-btn{
            display: block;
            border: 0;
            border-radius: 50%;
            background-color: #fff;
            color: var(--background-color);
            width: 30px;
            height: 30px;
            line-height: 37px;
            font-size: 1.5em;
            margin: 0 auto;
            font-weight: bold;
            margin-top: 20px;
            cursor: pointer;
        }
    }
    &.actors{
        .people_list{
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            row-gap: 15px;
            .img-wrapper{
                width: 100%;
                height: 200px;
            }
            span{
                display: block;
                font-size: 1.1em;
                letter-spacing: 0.5px;
                margin-top: 5px;
                color: #eee;
            }
        }
    }
}