

.signin{  
    background-color: var(--background-color);
    padding: 30px 0;
    .margin, .a{
        margin-bottom: 10px;
    }
    .container{
        background-color:rgb(252, 248, 228);
        width: 400px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        .img-wrapper{
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            img{
                border-radius: 50%;
                margin: 0 auto;
            }
      
        }
        h2{
            color: #000000;
            font-size: 25px;
            text-shadow: 1px -2px rgba(0, 0, 0, .1);
        }
        .social_button{
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                height: 50px;
                width: 50px;
                font-size: 30px;
                margin: 0px 10px;
                border-radius: 50%;
                box-shadow: 1px 1px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .2);   
                border: none;
                &.facebook{
                    background-color: #47546d;
                    color: aliceblue;
                    line-height: 20px;
                }
                &.google{
                    background-color: #df4d3a;
                    color: aliceblue;
                    font-size: 40px;
                    line-height: 65px;
                }
                &.linkedin{
                    background-color: #47546d;
                    color: aliceblue;
                    line-height: 20px;
                }
            }
            
        }
        .form{
            input{
                width: 80%;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 15px;
                border-width: 1px;
                border-color: #000000;
                &:nth-child(2){
                    margin-bottom: 10px;
                }
            }
            button{
                width: 80%;
                height: 40px;
                font-size: 15px;
                background-color: var(--yellow2-color);
                color: var(--hard-black-color);
                border-radius: 10px;
                border: none;
                box-shadow: 0 0 10px -5px rgba(0, 0, 0, .4), 0 0 1px rgba(0, 0, 0, .9);    
                &:hover{
                    background-color: #141521;
                    color: rgb(243, 243, 243);   
                }
            
            }
            
            a{
                font-size: 15px;
                width: 100%;
                text-align: right;
                padding-right: 30px;
                color:rgb(61, 180, 254);
                font-style: italic;
                &:hover{
                    color: rgb(0, 125, 202);
                }
            }
            .needanaccount{
                color: rgb(95, 94, 94);
                font-style: italic;
                font-size: 15px;
                margin: 10px 0;
                a{
                    margin-left: 10px;
                    text-decoration-line: underline;
                }
            }
            // display: flex;
            // flex-direction: column;
            align-items: center;
        }
    }
}