@keyframes jump {
    0%   {
        transform: translate3d(0,0,0);
    }
    
    100% {
        
    }
}


.giaodien_phim{
    .container{
        .khoangcach{
            margin-top: 20px;
        }
        h2{
            font-size: 30px;
            text-shadow: 1px -2px rgba(0, 0, 0, .1);

        }
        .tagproperties{
            
            button{
                width: 60px;
                height: 30px;
                margin-right: 10px;
                box-shadow: 1px 1px rgba(0, 0, 0, .2), 0 0 1px rgba(0, 0, 0, .4);   
                border-radius: 2px;
                border: none;
            }
               
        }
        .description{
            font-size: 10px;
        }
        .direction_button{
            display: flex;
            
            button{
                span{
                    margin-right: 5px;
                    font-size: 20px;
                }
                display: flex;
                width: 110px;
                height: 40px;
                margin-right: 10px;
                font-size: 12px;
                border-radius: 4px;
                border-width: 1px;
                border-color: #333;
                color: #fff;
                justify-content: left;
                background-image:  linear-gradient(#e30044, #e30044, #b00136);
                box-shadow: 1px 1px rgba(0, 0, 0, .4), 0 0 1px rgba(0, 0, 0, .6);   
                text-align: left;
                padding-left: 5px;
                justify-content: center;
                line-height: 40px;
                &:hover{
                    background-image:  linear-gradient(rgb(0, 0, 0), rgb(25, 17, 17));
                }
            }  
        }
        .moredescription{
            p{
            font-size: 10px;
            
            }
            .title{
                margin-bottom: 5px;
                font-size: 12px;
                font-weight: 500;

            }
        }
        .controller{
            width: 100%;

            justify-content: space-between;
            span{
                font-size: 12px;
            
                width: 100px;
                transition: transform 0.15s linear;

                &::after{
                    content: "";
                    display: block;
                    width: 0%;
                    height: 2px;
                    border-radius: 2px;
                    background-color: #b00136;
                    transition: width 0.2s ease;

                }
                &:hover{
                    transform: translateY(-5px);
                    &::after{
                        width: 100%;
                    }
                }
            }
            display: flex;
            justify-content: center;
            
        }
    }
    

}