@keyframes jump {
    0%   {
        transform: translate3d(0,0,0);
    }
    
    100% {
        
    }
}

.single-movie{
    background-color: var(--background-color);
    .btn{
        display: block;
        width: 70px;
        height: 25px;
        border-radius: 5px;
        font-size: 12px;
        font-family: Nunito, sans-serif;
        margin: 20px auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: var(--black-color);
        color: var(--grey-color);
        padding-top: 7px;
        &:hover{
            cursor: pointer;
            color: var(--black-color);
            background-color: var(--yellow-color);
        }
    }
    .container{
        &.wrap-center{
            background-color: var(--background-color1);
        }
        .khoangcach{
            margin-top: 20px;
        }
        .top_container{
            padding: 200px 40px 30px 40px;
            display: flex;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center top !important;
            object-fit:cover;
            .left_container{
                width: 100%;
                margin-right: 20px;
                .film-info{
                    display: flex;
                    .poster{
                        height: 400px;
                        min-width: 250px;
                        border-radius: 5px;
                        overflow: hidden;
                    }
                    .attribute{
                        margin-left: 20px;
                        h2{
                            font-size: 45px;
                            line-height: 55px;
                            text-shadow: 1px -2px rgba(0, 0, 0, .1);
                            color: var(--yellow-color);
                            font-family: Nunito, sans-serif;
                        }
                        .tagline{
                            color: var(--text-color);
                            font-size: 20px;
                        }
                        .vote{
                            display: flex;
                            align-items: baseline;
                            p{
                                margin-left: 10px;
                                font-size: 18px;
                                color: var(--white-color);
                                font-family: Nutori, sans-serif;
                            }
                        }
                        .tagproperties{
                            button{
                                width: 60px;
                                height: 30px;
                                margin-right: 10px;
                                background-color: var(--black-color);
                                color: var(--grey-color);
                                box-shadow: 1px 1px rgba(0, 0, 0, .2), 0 0 1px rgba(0, 0, 0, .4);   
                                border-radius: 2px;
                                border: none;
                                margin-bottom: 10px;
                            }
                           
                        }
                        .direction_button{
                            display: flex;
                            button{
                                span{
                                    margin-right: 5px;
                                    font-size: 20px;
                                }
                                &.play{
                                    width: 80px;
                                    background-color: var(--play-button-color);
                                    &:hover{
                                        background-color: var(--play-button-color-hover);
                                        cursor: pointer;
                                        color: #fff;
                                    }
                                } 
                                &.add{
                                    width: 130px;
                                    background-color: var(--add-button-color);
                                    &:hover{
                                        background-color: var(--add-button-color-hover);
                                        cursor: pointer;
                                        color: #fff;
                                    }
                                }
                                display: flex;
                                height: 40px;
                                margin-right: 10px;
                                font-size: 14px;
                                border-radius: 4px;
                                border-width: 1px;
                                border-color: #333;
                                color: #fff;
                                justify-content: left;
                                font-family: Nunito, sans-serif;
                                box-shadow: 1px 1px rgba(0, 0, 0, .4), 0 0 1px rgba(0, 0, 0, .6);   
                                text-align: left;
                                padding-left: 5px;
                                justify-content: center;
                                line-height: 40px;
                            }
                             
                        }
                    }
                }
                .description{
                    font-size: 14px;
                    padding-right: 20px;
                    line-height: 23px;
                    font-family: Roboto,sans-serif;
                    color: var(--text-color);
                    letter-spacing: 0.5px;
                    text-align: justify;
                    font-style: italic;
                    button{
                        margin-left: 10px;
                        background-color: transparent;
                        border: none;
                        color: var(--yellow-color);
                        font-size: 16px;
                        line-height: 23px;
                        font-family: Nunito,sans-serif;
                        &:hover{
                            color:#e09900;
                            cursor: pointer;

                        }
                    }

                }
                
            }
            .right_container{
                width: 400px;
                padding-top: 50px;
                color: var(--text-color);
                h3{
                    margin: 10px 0 5px 0;
                    justify-content: center;
                    color: var(--white-color);
                    font-size: 25px;
                }
                .tag{
                    margin-top: 40px;
                    font-size: 20px;
                    p{
                        color: var(--white-color);
                        margin-top: 10px;
                        span{
                            text-transform: capitalize;
                            color: var(--yellow2-color);
                        }
                    }
                }
            }
        }
        .bottom_container{
            padding-left: 40px;
            .controller{
                .comment{
                    margin-bottom: 30px;
                    h2{
                        // text-align: center;
                        font-size: 30px;
                        margin-top: 30px;
                        color: var(--white-color);
                        text-shadow: 1px -2px rgba(0, 0, 0, .1);
                    }
                    .comment_body{
                        display: flex;
                        margin-top: 12px;
                        .img-wrapper{
                            width: 50px;
                            height: 50px;
                            img{

                                border-radius: 50%;
                                // box-shadow: 1px 1px rgba(0, 0, 0, .4), 0 0 1px rgba(0, 0, 0, .8);
                                border: solid 4px #fcc500;
                            }
                        }
                        .right_comment{
                            margin-left: 10px;
                            .name{
                                margin-bottom: 5px;
                                font-size: 15px;
                                color: var(--white-color);
                            }
                            .content{
                                color: var(--commenttext-color);
                                font-family: Roboto, sans-serif;
                            }
                            .write_comment{
                                display: flex;
                                height: 35px;
                                border-radius: 20px;
                                overflow: hidden;
                                textarea{
                                    width: 350px;
                                    padding-top: 6px;
                                    padding-left: 10px;
                                    font-size: 16px;
                                    resize: none;
                                    outline: none;
                                    // border-radius: 20px 0 0 20px;
                                    border: 0;
                                    padding: 8px 10px 6px;
                                    &::placeholder{
                                        font-family: inherit;

                                    }

                                }
                                button{
                                    // border-radius: 4px;
                                    background-color: var(--send-color);
                                    color: var(--white-color);
                                    border: none;
                                    width: 50px;
                                    padding-top: 4px;
                                    padding-right: 2px;
                                    &:hover{
                                        color: var(--white-color);
                                        background-color: var(--black-color);
                                        cursor: pointer;
                                    }
                                }
                            }
                            .react{
                                display: flex;

                                li{
                                   
                                    margin-right: 10px;
                                    font-size: 12px;
                                    color: darkgray;
                                    margin-top: 5px;
                                    i{
                                        color: var(--reactbutton-color);
                                        font-style: normal;
                                        margin-left: 2px;
                                        &:hover{
                                            color: var(--yellow-color);
                                            cursor: pointer;

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                h2{
                    // text-align: center;
                    justify-content: center;
                    font-size: 30px;
                    color: var(--white-color);
                    text-shadow: 1px -2px rgba(0, 0, 0, .1);

                }
                
            }
        }      
    }
}
